.Input {
  display: flex;
  justify-content: space-around;
  border: 2px solid gray;
  margin: 10px;
  padding: 20px;
}

.Input input {
  min-width: 300px;
  min-height: 100px;
}

input::placeholder {
  opacity: 1; /* Firefox */
  font-size: 20px;
  text-align: center;
}
