.Problems {
  border: 2px solid green;
  margin: 10px;
  padding: 20px;
  display: flex;
}
.ProblemListContainer {
  display: flex;
  flex: 1;
  border: 4px solid grey;
  padding: 10px;
  overflow-y: scroll;
  height: 300px;
}

.ProblemsList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 0;
}

.ProblemsList td,
.ProblemsList th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ProblemsList tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ProblemsList tr:hover {
  background-color: #ddd;
}

.ProblemsList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}

.ProblemName {
  border: 1px solid lightgray;
  flex: 1;
  min-height: 100px;
  margin-right: 15px;
}

button {
  background-color: blue;
  color: white;
  padding: 8px 8px;
  border-radius: 20px;
  font-size: 14px;
  opacity: 70%;
}

.problemDescriptionContainer {
  border: 1px solid gray;
  flex: 1;
  margin-left: 10px;
  min-height: 170px;
  height: 325px;
}
