.Layout {
  border: 2px solid grey;
  margin: 10px;
  padding: 20px;
  display: flex;
}

.LayoutDescriptionContainer {
  border: 1px solid gray;
  flex: 1;
  margin-left: 10px;
  min-height: 170px;
}
