.SolutionContainer {
  display: flex;
  flex-direction: column;
}

.ProblemTable {
  font-size: 20px;
  font-family: "Inter";
  height: 0.1rem;
}

.ProblemDescription {
  width: 500px;
  padding: 20px !important;
  text-align: left !important;
}

.SolutionTable {
  font-size: 20px;
  font-family: "Inter";
}

.SolutionRow {
  height: 10px !important;
  overflow: scroll;
}
